<!-- <h1>Adam Adebesin</h1> -->

<img class="checkers" src="images/site/checkerboard.jpg" alt="Checkerboard pattern">
<h1>Welcome to CSE Motors</h1>

<div class="hero-grid">
    <img src="images/vehicles/delorean.jpg" alt="Delorean">
    <div>
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy Dice!</p>
        <!-- <img class="own-now" src="images/site/own_today.png" alt="Own today button"> -->
        <div class="own-now">Own Now</div>
    </div>
</div>
<div class="extra-grid">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <div>
                <div class="upgrade"><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>
                <a href="">Flux Capacitor</a>
            </div>
            <div>
                <div class="upgrade"><img src="images/upgrades/flame.jpg" alt="Flame Decals"></div>
                <a href="">Flame Decals</a>
            </div>
            <div>
                <div class="upgrade"><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>
                <a href="">Bumper Stickers</a>
            </div>
            <div>
                <div class="upgrade"><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>
                <a href="">Hub Caps</a>
            </div>
        </div>
    </div>
</div>