<!-- adds h1, good seo, and a heading for the page! -->
<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  
  <!-- displays messages -->
  <%- messages() %>
  
  <!-- display errors -->
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <div class="management-links">
    <a href="/inv/addclass">Add New Classification</a>
    <a href="/inv/addvehicle">Add New Vehicle</a>
  </div>
  
  <h2>Manage Inventory</h2>
  <div class="manage-inventory">
    <!-- <p>Select a classification to view inventory:</p> -->
    <!-- CLASSIFICATION DROP DOWN -->
    <div class="form--fieldset">
      <!-- <label for="classification_id">Select a classification to view inventory:</label> -->
      <p>Select a classification to view inventory:</p>
      <select name="classification_id" id="classificationList">
        <%- classSelect %>
      </select>
    </div>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
  </div>
  
  <script src="../../js/inventory.js"></script>